*{
    margin: 0;
    padding: 0;
}
.list-1 a{
    text-decoration: none;
}
/* section one */
.section-1{
    position: relative;
    /* z-index: -99; */
    /* height: 110vh; */
}
.collapse img{
    height: 70px;
    width: 200px;
}
.sec1-2{
    position: relative;
    padding-top: 10%;
    padding-left: 5%!important;
}
.secure-sec-bg{
    position: absolute;
    z-index: -9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.secure-bg-img{
    height: 100%!important;
    width: 100%;
}
.sec1-2-1{
    width: 40%;
    color: white;
    padding-bottom: 100px!important;
}
.sec1-2-1 h1{
    font-weight: 600;
    font-size: 300%;
}
.sec1-2-1 button{
    margin-bottom: 10px;
}
.sec1-int input{
    height: 40px;
    width: 20px;
}
.btm-ban{
    position: absolute;
    bottom: 0;
}
.header-list a{
    color: rgb(51, 49, 49);
    font-weight: 500;
}    
.header-btn-1{
    border: 2px solid rgb(15, 106, 224)!important;
    color: rgb(15, 106, 224)!important;
    box-shadow: 1px 2px 7px -1px black;
}
.header-btn-2{
    background-color: rgb(99, 236, 99)!important;
    border: none!important;
    box-shadow: 1px 2px 7px -1px black;
}

            /* section-2 */

.sec2-1-1{
    text-align: center;
}
.collect-sec-head{
    font-family: 'DM Serif Display', serif;
}
.sec2-1 p:nth-child(3){
    background-color: skyblue;
    width: 60px;
    height: 3px;
    display: block;
    margin: 20px auto;
    color: skyblue;
}
.sec2-1 p:last-child{
    color: lightslategray;
    width: 70%;
}
.section-one-btn-one{
    background-color: rgb(99, 236, 99)!important;
}
        /* section-2-2 */

.sec2-2 .uniq{
    background-color: skyblue;
    width: 60px;
    height: 3px;
    display: block;
    margin: 10px 10px 10px 0;
    color: skyblue;
}
    
.about-section .uniq{
    background-color: skyblue;
    width: 60px;
    height: 3px;
    display: block;
    margin: 10px 10px 10px 0;
    color: skyblue;
}
            /* feature-section */
.feature{
    position: relative;
    padding: 0 0 100px 0;
}
.feature-bg-div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.feature-bg-div img{
    height: 100%;
    width: 100%;
}
.feature-head-div{
    text-align: center;
}
.feature-head-div p{
    color: skyblue;
}
.feature-heading-para{
    font-size: x-large!important;
    font-family: 'DM Serif Display', serif;
    font-family: 'Outfit', sans-serif;
}
.feature-head-div .uniq{
    margin: auto;
}
.feature-card-one-heading{
    font-family: 'DM Serif Display', serif;
    font-family: 'Outfit', sans-serif;
}
.feature-three-box{
    background-image: url(./webpageTask-1/images/others/features-cont-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
}
.three-box-icon img{
    border-radius: 50%;
}
                    /* work-section */
.work{
    position: relative;
}
.work-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.work-heading .uniq{
    margin: auto;
    color: white;
    background-color: white;
}
.work-icon-div{
    width: 30%!important;
    border-radius: 15px;
}
.work-icon-img{
    border-radius: 50px;
}
.work-pesudo-element-1{
    position: relative;
    border-radius: 15px;
}
.work-pesudo-element-1::before{
    content: "";    
    position: absolute;
    background-image: url(./webpageTask-1/images/icons/work-next.png);
    background-repeat: no-repeat;
    bottom: 50%;
    right: -60px;
    z-index: 999;
    width: 60px;
    height: 60px;
}
.work-pesudo-element-2{
    position: relative;
    border-radius: 15px;
}
.work-pesudo-element-2::before{
    content: "";
    position: absolute;
    background-image: url(./webpageTask-1/images/icons/work-next.png);
    background-repeat: no-repeat;
    bottom: 50%;
    right: -60px;
    z-index: 999;
    width: 60px;
    height: 60px;
}
.purchase-heading .uniq{
    margin: auto;
}
.purchase-content{
    border-radius: 15px;
    position: relative;
    background-color: white;
    box-shadow: -3px -3px 20px -1px;
}
.purchase-center{
    transform: scale(105%);
    background-color: white;
    position: relative;
    z-index: 999;
}
.purchase-content .uniq{
    margin: auto;
    color: greenyellow!important;
}
.purchase-card1-list li{
    padding-top: 10px;
}
.btn-bg-first-bg{
    position: absolute;
    left: 0;
}
.purchase-card2-list li{
    padding-top: 10px;
}
.purchase-btn-bg-div{
    position: absolute;
    bottom: 0;
    z-index: -99;
}
.purchase-btn{
    padding-top: 30%;
}
.purchase-btn-color{
    background-color: rgb(99, 236, 99)!important;
}


    /* profile section */

.profile-section{
    position: relative;
}
.profile-bgimg-div{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
}
.profile-bgimg-div img{ 
    height: 500px;
    width: 100%;
}
.profile-heading .uniq{
    margin: auto;
}
.profile-dp{
    border-radius: 50%;
    border: 4px solid rgb(6, 144, 236);
}
.quotation-line{
    background-color: lightgray;
    border: 1px solid lightgrey;
    height: 185px;
    width: 1px;
    margin: auto;
}
.starimg{
    width: 100px;
    height: 25px;
}

            /* FAQ Section */
.faq-heading .uniq{
    margin: auto;
}
            /* footer-section */
.footer-main-div{
    padding-left: 20%;
}
.footer-section{
    position: relative;
}
.footer-bg-div{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
}
.footer-bg{
    border-top-left-radius: 35%;
}
/* .footer-first-div{
    padding-top: 78%;
} */
.googledrive{
    height: 80px;
}
.facebook{
    width: 30px;
    padding-left: 10px;
}
.footer-first-list li{
    padding-top: 1%;
}
.footer-row{
    padding-top: 9%;
}
.footer-input{
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 0 0 0 15px;
}
.btn-subscribe{
        width: 50%;
        height: 40px;
        border: none;
        border-radius: 20px;
        background-color: rgb(99, 236, 99);
}
/* .footer-third-div{
    padding-top: 48%;
} */

.footer-forth-div a{
    text-decoration: none;
    color: white;
}
.horizontal-line{
    border: 1px solid grey;
    margin-top: 100px;
}
table p{
    font-weight: 100;
}





    /* css media query for sm - md */

    @media only screen and (max-width: 992px) { 
        /* hearder-section */
.header-list{
    font-weight: 100;
    font-size: 11px;
}
        /* secure-section */
/* .section-1{
    height: 43vh;
} */
.sec1-h1{
    font-size: 25px!important;
    font-weight: 200;
}
.secure-para{
    font-size: 15px;
}
.section-one-btn-one{
    font-size: 9px!important;
    height: 25px;
}
.sec1-int input{
    height: 15px;
    width: 15px;
}
.save-section-heading{
    font-size: large;
    font-weight: 400;
}
.save-section-para{
    font-size: small;
}
        /* feature-section */
.feature-card-one{
    width: 100%;
    text-align: center;
}
.feature-card-one-heading{
    font-size: large;
}
.feature-card-one-para{
    font-size: smaller;
}
        /* work-section */
.work-pesudo-element-1::before{
    display: none;
}
.work-pesudo-element-2::before{
    display: none;
}
.work-icon-1 img{
    width: 50px;
    height: 50px;
}
.work-card-heading{
    font-size: medium;
    font-weight: 500;
}
.work-card-para{
    font-size: x-small;
}
.profile-previous-icon-div{
    display: none;
}
        /* profile-section */
.profile-bgimg-div{
    display: none;
}
.next-img-div{
    display: none;
}
.footer-frist-div-para{
    font-size: small;
}
.footer-bg-div{
    display: none;
}
.footer-section{
    background-color: rgb(128, 125, 125);
}
.footer-forth-div a{
    display: block;
    justify-content: center;
}
.horizontal-line{
    border: 1px solid black;
}
}

@media only screen and (max-width: 576px){
            /* header-section */
    .header-list {
        display: block;
        text-align: center;
    }
    .header-buttons{
        display: none;
    }
    .header-sm-buttons{
        text-align: center;
    }
    .secure-section-bg{
        display: none;
    }
    .btm-ban{
        display: none;
    }
            /* secure-section */
    .secure-bg-img{
        display: none;
    }
    .section-1{
        display: none;
    }
    .secure-for-sm{
        background-color: rgb(37, 122, 248);
    }
    .secure-head-div{
        text-align: center;
    }
    .secure-h1{
        font-size: xx-large;
        color: white;
        font-weight: 600;
    }
    .secure-para{
        color: white;
    }
    .secure-head-div button{
        font-size: 12px;
    }
            /* Save-section */
    .collect-sec-head{
        font-size: larger;
    }   
    .save-head-para{
        font-size: small;
    }
    .save-sec-one{
        display: none;
    }
    .save-section-heading{
        font-size: large;
        text-align: center;
    }
    .save-section-para{
        font-size: small;
        text-align: center;
    }
    .save-para-div .uniq{
        margin: 0 0 0 35px;
    }
    .save-card-two{
        display: none;
    }
    .save-card-three{
        display: none;
    }
            /* work-section */
    .work{
        background-color: rgb(37, 122, 248);
    }
    .work-bg{
        display: none;
    }
    .work-pesudo-element-1::before{
        display: none;
    }
    .work-pesudo-element-2::before{
        display: none;
    }
    .work-icon-div{
        width: auto!important;
    }
    .purchase-content{
        margin-top: 40px!important;
        transform: scale(100%);
    }
    .profile-bgimg-div{
        display: none;
    }
    .profile-previous-icon-div,.quotation-open, .quotation-line, .closing-quot, .next-img-div{
        display: none;
    }
    .profile-dp-div{
        text-align: center;
    }
    .table-p2{
        font-size: small;
    }
            /* footer-section */
    .footer-bg-div{
        display: none;
    }
    .footer-section{
        background-color: rgb(128, 125, 125);
    }
    .footer-first-div,.footer-second-div,.footer-third-div,.footer-forth-div{
        text-align: center;
    }
}























