*{
    margin: 0;
    padding: 0;
}
.list-1 a{
    text-decoration: none;
}
/* section one */
.section-1{
    position: relative;
    z-index: -99;
}
.sec1-2{
    position: absolute;
    top: 20%;
    left: 13%;
}
.sec1-2-1{
    width: 40%;
    color: white;
}
.sec1-2-1 h1{
    font-weight: 600;
}
.sec1-2-1 button{
    margin-bottom: 10px;
}
.sec1-int input{
    height: 40px;
    width: 20px;
}
.btm-ban{
    position: absolute;
    bottom: 0;
}

            /* section-2 */

.sec2-1-1{
    text-align: center;
}

.sec2-1 p:nth-child(3){
    background-color: skyblue;
    width: 60px;
    height: 3px;
    display: block;
    margin: 20px auto;
    color: skyblue;
}
.sec2-1 p:last-child{
    color: lightslategray;
    width: 70%;
}
        /* section-2-2 */

.sec2-2 .uniq{
    background-color: skyblue;
    width: 60px;
    height: 3px;
    display: block;
    margin: 10px 10px 10px 0;
    color: skyblue;
}
    
.about-section .uniq{
    background-color: skyblue;
    width: 60px;
    height: 3px;
    display: block;
    margin: 10px 10px 10px 0;
    color: skyblue;
}
            /* feature-section */
.feature{
    position: relative;
}
.section-with-bg{
    width: 100%;
    heig
}
.feature-bg-div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.feature-head-div{
    text-align: center;
}
.feature-head-div p{
    color: skyblue;
}
.feature-head-div .uniq{
    margin: auto;
}
.feature-three-box{
    background-image: url(./webpageTask-1/images/others/features-cont-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
}
                    /* work-section */
.work{
    position: relative;
}
.work-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}